html{
    scroll-behavior: smooth;
}

/* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: #fff;
}

@media(min-width: 991.98px){
    .fluid{
        max-width: 95%;
    }
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}

.nav-item
{
    text-align: center;
}
/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
    
}
.navbar.active .register-item {
    color: #fff;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
    .navbar .navbar-brand, .navbar .register-item {
        color: white;
    }
}


/*  */
.navbar-dark .navbar-nav .nav-link {
    color: rgb(112, 112, 112);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-weight: 500;

}

.nav-link:hover {
    border-bottom: 3px solid #00d28b;
    color: black;
   
   
}

.navbar-collapse {
    background-color: transparent;
    margin-top: 12px;
}

.navbar-dark .navbar-toggler {
    border-color: white !important;
    background: white;
}

.toggle2 {
    background-color: transparent !important;
    border: none;
}

.new-item {
    color: white !important;
    font-weight: 800;
}

.nav-2 {
    height: 80px;
    background-color: transparent;
    margin-top: 100px;
    position: relative;
}

.register-item {
    background-color: #00d28b;
    border-radius: 8px;
    color: white;
    

}

@media(max-width:992px) {
    .register-item {

        border-radius: 0px;
        color: white;

    }

}

.hero-bg
{
    /* background-image: url(/assets/new_img/PNG/hero-img.png); */
    background-image: url(../new_img/PNG/hero-img.png);
    position: relative;
    width: 100%;
    min-height: 800px;
    overflow: hidden;
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0% 0%, 600% 0%, -10% 100%);
}
@media(max-width:992px)
{
    .hero-bg
    {
        background-image: url(../new_img/PNG/hero2.png);
    }
}
@media(max-width:767px)
{
    .hero-bg
    {
        min-height: 750px;
    }
}
@media(max-width:500px)
{
    .hero-bg
    {
        background-image: url(../new_img/PNG/hero3.png);
        clip-path: polygon(0% 0%, 1100% 0%, -10% 100%);
    }
}
.hero-content
{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    z-index: 11;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.hero-heading
{
    color: white;
    font-size: 42px;
    font-weight: 600;
}
.hero-content p{
    color: white;
}
.ai-text
{
    color: #00d28b;
    font-weight: 700;
}

.section-heading {
    color: #00d28b;
}

@media(max-width:325px) {
    .section-heading {
        font-size: 2.3rem;
    }
}

.attend-svg {
    margin-top: 80px;
}

@media(max-width:768px) {
    .attend-svg {
        margin-top: 10px;
    }
}

.calender a {
    color: #ff6977;
    font-weight: 500;
}

.accord-card-head {
    background-color: #00d28b;
    color: white;
    font-weight: 600;

    cursor: pointer;
}

.accord-card-head:hover {
    background-color: #03bb7d;
    color: white;

    cursor: pointer;
}

.card-body {
    border: white;
}

.time {
    list-style-type: none;

}

.time li {
    display: inline-block;

    margin-top: 10px;
    font-weight: 600;

}

.card-img {
    width: 100%;
}

.shadow-card {
    box-shadow: 0 0 10px 1px rgb(219, 219, 219);
    border-radius: 8px;
}

/* Blog card View */



.border {
    border: none !important;
}

.card-blog {
    width: 400px;
    height: 120px;


}

.card-blog-img {
    margin-top: 6%;
    width: 75%;
    border-radius: 50%;
    height: 90%;
}

.card-blog-content {
    line-height: 18px;
}

.card-blog-content h5 {
    margin-left: -15%;
    font-size: 18px;
    font-weight: 700;
}

.card-blog-content p {
    font-size: 12px;
    margin-left: -15%;

    color: #2B2C31 !important;
}

.card-blog-margin {
    margin-top: 0px;
}


@media(max-width:992px) {
    .card-blog {
        width: 300px;
        height: 120px;
    }

    .card-blog-img {
        margin-top: 8%;
        width: 100%;
        height: 80%;
    }

    .card-blog-content {
        line-height: 18px;
    }

    .card-blog-content h5 {
        margin-left: -12%;
        font-size: 14px;
        font-weight: 600;
    }

    .card-blog-content p {
        font-size: 10px;
        margin-left: -12%;

    }

    .card-blog-margin {
        margin-top: -20px;
    }

}

@media(max-width:577px) {

    .card-blog {
        width: 300px;
        height: 130px;
    }

    .card-blog-img {
        margin-top: 1%;
        width: 30%;
        height: 90%;
    }

    .card-blog-content {
        line-height: 18px;
        margin-left: -64%;
        width: 60%;

    }

    .card-blog-content h5 {
        margin-left: -12%;
        font-size: 14px;
        font-weight: 600;
    }

    .card-blog-content p {
        font-size: 12px;
        margin-left: -12%;

    }

    .card-blog-margin {}
}

.card-blog a {
    color: rgb(209, 54, 64);
    font-size: 12px;

}

@media(max-width:320px) {
    .img-margin {
        margin-left: -10px;
    }
}

.left-margin {
    margin-left: 50px;
}

@media(max-width:474px) {
    .left-margin {
        margin-left: 0px;
    }
}

.contact-label {
    color: #00d28b;
    font-weight: 600;
}

.contact-btn {
    width: 100%;
    background-color: #00d28b;
    border: none;
    font-weight: 600;
    border-radius: 10px;
    padding: 15px;
}

.contact-btn:hover {

    background-color: #01a06b;

}

.contact-input {
    border: none;
    border-bottom: 1px solid #00d28b;
    border-radius: 0px;
}

.contact-input:focus {
    box-shadow: none;
    border-bottom: 1.5px solid #00d28b;
}

.footer-icon {
    font-size: 30px;
    margin: 10px;
    color: white;
}

.footer-links a {
    color: white;
    margin: 10px;
}

.copyright-text {
    color: white !important;

}

.copyright-text a {
    color: white !important;
    margin: 3px;

}

.close {
    background-color: #00d28b !important;
    opacity: 1;
    margin-bottom: 20px;
}

.modal-header {

    border: none;
}

.modal-footer {
    border: none;
}

.modal-dialog {
    max-width: 600px;
}

.modal-header .close {
    padding: 1.2rem 1rem !important;
}








/* 
.radio-contain {

    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 10px;
  }
  @media(max-width:423px)
  {
    .radio-contain 
    {
        font-size: 16px;
    }
  }
  @media(max-width:395px)
  {
    .radio-contain 
    {
        font-size: 14px;
    }
  }
  @media(max-width:369px)
  {
    .radio-contain 
    {
        font-size: 12px;
    }
  }
  @media(max-width:342px)
  {
    .radio-contain 
    {
        font-size: 10px;
    }
  }

  .radio-contain input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    border: 2px solid #01a06b;
  }
  

  .radio-contain:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .radio-contain input:checked ~ .checkmark {
    background-color: #01a06b;
  }
  

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
    
  .radio-contain input:checked ~ .checkmark:after {
    display: block;
  }
  
 */













  .container-check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container-check:hover input ~ .checkmark {
    background-color: #ccc;
    border: 1px solid #009e69 ;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container-check input:checked ~ .checkmark {
    background-color: #009e69;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container-check input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container-check .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }











.check-contain {


    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 600;
}

/* Hide the browser's default checkbox */
.check-contain input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 2px solid #01a06b;
}

/* On mouse-over, add a grey background color */
.check-contain:hover input~.checkmark1 {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check-contain input:checked~.checkmark1 {
    background-color: #01a06b;
    border-radius: 4px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark1:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check-contain input:checked~.checkmark1:after {
    display: block;
}

/* Style the checkmark/indicator */
.check-contain .checkmark1:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



a {
    color: #01a06b;
}




.reg-btn
{
    background-color: #00d28b;
    color: white;
    font-weight: 600;
    border: none;
    padding: 10px 40px;
}
.reg-btn:hover
{
    background-color: #009e69;
    color: white;
    font-weight: 600;
    border: none;
    padding: 10px 40px;
}
.reset-btn
{
    font-weight: 600;
    border: none;
    padding: 10px 15px;
    

}
@media(max-width:341px)
{
    .reset-btn
{
    margin-right: 16px;
   margin-top: 10px;
   
    

}

}
.contact-card
{
    border: none;
    box-shadow: 0 0 10px 1px rgb(219, 219, 219);
}









.partner
{
    list-style: none;
    padding: 0;
}
.item-logo
{
    display: inline;
}
.hero-partner-img
{
    width: 25%;
   
}
@media(max-width:767px)
{
    .hero-partner-img
{
    width: 30%;
   
}
.margin-responsive
{
    margin-top: 50px;
}

}
@media(max-width:575px)
{
    .hero-partner-img
{
    width: 40%;
   
}

}

@media(max-width:500px)
{
    .hero-partner-img
{
    width: 50%;
    margin-top: 20px;
   
}

}

@media(max-width:500px)
{
    .marginresponsive
    {
        margin-top: 200px;
    }
}
button:focus {
    outline: 1px solid white !important;
    outline: 5px auto white !important;
}



.register-card-page
{
    border: none;
    box-shadow: 0 0 10px 0.5px rgb(126, 126, 126);
}
.session-head
{
    font-size: 20px;
}